@using Economia_Social_Y_Solidaria.Models;
@{
    TanoNEEntities ctx = new TanoNEEntities();
    Vecinos actual = ctx.Vecinos.FirstOrDefault(a => a.correo == User.Identity.Name);
    int[] roles = new int[] { };
    string nombres = "";
    if (actual != null)
    {
        nombres = actual.nombres;
        roles = actual.RolesVecinos.OrderBy(b => b.Roles.codigoRol).Select(a => a.Roles.codigoRol).ToArray();
    }

}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nuevo Encuentro</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="~/Compras/Carrito">Comprar!</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Compras/Historial">Mis Compras</a></li>
                }
                @*<li><a href="~/Compras/Carrito">Productos de Almacén</a></li>*@
                    @*<li><a href="#">Contacto</a></li>*@
                    @foreach (int rol in roles)
                    {
                        if (rol == 2)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="position: absolute;">
                                    <li><a href="~/Productos/Productos">Productos</a></li>
                                    <li><a href="~/Tandas/Tandas">Tandas</a></li>
                                    <li><a href="~/Estadisticas/Estadisticas">Estadisticas</a></li>
                                    <li><a href="~/Vecinos/Vecino">Administrar</a></li>  
                                </ul>
                            </li>
                            
                        }
                        if (rol == 3)
                        {
                            <li><a href="~/Finanzas/Listado">Finanzas</a></li>
                        }
                        if (rol == 4)
                        {
                            <li><a href="~/Compras/Entregar">Entregar</a></li>
                            @*<li><a href="~/Compras/Encargar">Encargar</a></li>*@
                        }
                    }
                </ul>



                <ul class="nav navbar-nav navbar-right">
                    @if (nombres == "")
                    {
                        <li><a id="btn_iniciar" style="cursor:pointer">Iniciar Sesión</a></li>
                        <li><a id="btn_registrarse" style="cursor:pointer">Registrarse</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@nombres <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="position: absolute;">
                                <li><a href="#">Mi Perfil</a></li>
                                <li><a id="btn_cerrar" href="/Inicio/CerrarSesion">Cerrar sesión</a></li>
                            </ul>
                        </li>                        
                    }
                </ul>
            </div>



            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="modal fade" id="login" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form id="login-form" action="~/Inicio/IniciarSesion" method="post" role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Iniciar Sesión</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="usuario" id="usuario" tabindex="1" class="form-control" placeholder="Correo Electrónico" value="" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" id="pass" tabindex="2" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="alert  alert-dismissable" id="divError" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <p id="sError"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input data-loading-text="Espere..." type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Iniciar Sesión">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <a href="" tabindex="5" class="forgot-password">Te olvidaste la contraseña?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="registrarse" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="register-form" action="~/Inicio/IniciarSesion" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrarse</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Correo Electrónico" required="required" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombres" id="nombres" tabindex="2" class="form-control" placeholder="Nombre y Apellido" required="required" value="">
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <input type="tel" name="telefono" pattern=".*\S+.*" id="telefono" tabindex="3" class="form-control" placeholder="Telefono" required="required" value="">
                            </div>

                            <div class="form-group col-md-6">
                                <select name="comuna" id="comuna" tabindex="4" class="form-control" required="required">
                                    <option value="">Comuna donde vivis</option>
                                    <optgroup label="Circuito Sur">
                                        <option value="1">Comuna 1</option>
                                        <option value="4">Comuna 4</option>
                                        <option value="5">Comuna 5</option>
                                        <option value="6">Comuna 6</option>
                                        <option value="7">Comuna 7</option>
                                        <option value="8">Comuna 8</option>
                                        <option value="9">Comuna 9</option>
                                        <option value="10">Comuna 10</option>
                                    </optgroup>
                                    <optgroup label="Circuito Norte">
                                        <option value="2">Comuna 2</option>
                                        <option value="3">Comuna 3</option>
                                        <option value="11">Comuna 11</option>
                                        <option value="12">Comuna 12</option>
                                        <option value="13">Comuna 13</option>
                                        <option value="14">Comuna 14</option>
                                        <option value="15">Comuna 15</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <input type="password" name="password" id="password" tabindex="5" class="form-control" required="required" placeholder="Contraseña" max="12" min="6">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" name="confirmpassword" id="confirmpassword" tabindex="6" class="form-control" required="required" placeholder="Confirmar contraseña" max="12" min="6">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" data-loading-text="Espere..." name="register-submit" id="register-submit" tabindex="7" class="form-control btn btn-primary" value="Registrarse">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <a href="" tabindex="8" class="forgot-password">No te llegó el mail de registro?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->