@model Economia_Social_Y_Solidaria.Controllers.Changuito

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Compartida/_layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="~/Imagenes/producto-@(Model.idProducto).jpg" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">$@(Model.precio)</h4>
                    <h4>
                        <a href="#">@(Model.nombre)</a>
                    </h4>
                    <p>@Html.Raw(Model.descripcion)</p>
                </div>
                <div class="row" style="padding:5px 10px">
                    <div class="col-md-9 pocopadding">
                        <p class="pcomentarios" style="margin-top: 5PX;">@(Model.comentarios) comentarios</p>
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="rating pestrellas pull-right" value="@(Model.rating)" min=0 max=5 step=1 data-size="xs" disabled="true" data-show-caption="false" data-show-clear="false">
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
