@model Economia_Social_Y_Solidaria.Controllers.MisCompras
@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Compartida/_layout.cshtml";
}

<div class="container comprascon" style="margin-top:100px">
</div>

<div class="modal fade" id="comentarmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="login-form" action="~/Inicio/IniciarSesion" method="post" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Comentar pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="tComentarios" class="form-control" maxlength="300"></textarea>
                            <span id="totalcaracteres" class="help-block pull-right" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><input id="rating" type="text"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="compra" style="display:none">
    <div class="card">
        <div class="row">
            <img class="slide-image imagen" alt="">
        </div>
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <h4>Encargado en <b class="local"></b></h4>
                </div>
                <div class="col-md-4" style="text-align:right; vertical-align:middle">
                    <h6><b class="fecha"></b></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>Estado del pedido: <b class="estado"></b></h4>
                </div>
            </div>

            <table class="table" id="tabla_listado">
                <thead>
                    <tr>
                        <th width="60%">Producto</th>
                        <th width="20%">Cantidad</th>
                        <th width="20%">$ Unidad</th>
                    </tr>
                </thead>
                <tbody class="productos"></tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div class="row btneditar" style="display:none">
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-card form-control modificar" data-loading-text="Borrando..."><span class="glyphicon glyphicon-edit"></span> Modificar</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-card form-control borrar" data-loading-text="Borrando..."><span class="glyphicon glyphicon-trash"></span> Cancelar</button>
            </div>
        </div>
        <div class="row btncomentar" style="display:none">
            <div class="col-md-5 col-md-offset-3">
                <button class="btn btn-card form-control comentar" data-loading-text="Espere..."><span class="glyphicon glyphicon-pencil"></span> Comentar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var compras = @Html.Raw(Json.Encode(Model.Compras));
        cargarDatos(compras);

        function cargarDatos(compras){
            var container = $(".comprascon");
            container.empty();

            var actual = 0;
            while ( actual < compras.length )
            {
                var row = $("<div/>");
                row.addClass("row")
                for ( var col = 0; col < 2 && actual < compras.length ; col++){
                    agregarCompra(col, compras[actual]).appendTo(row);
                    actual++;
                }
                row.appendTo(container);
            }
        }

        function agregarCompra(col, comprado){
            //imagen local fecha estado
            var nueva = $("#compra").clone();
            nueva.addClass("col-md-5");
            if (col == 0)
                nueva.addClass("col-md-offset-1");

            nueva.find(".card").attr("data-idcompra", comprado.idCompra);
            nueva.find(".imagen").attr('src','/Imagenes/producto-' + comprado.productos[0].idProducto + '.jpg');
            nueva.find(".local").text(comprado.local + " - " + comprado.barrio);
            nueva.find(".fecha").text(comprado.fecha);
            nueva.find(".estado").text(comprado.estado);
            if (comprado.editar )
                nueva.find(".btneditar").show();
            if (comprado.comentar )
                nueva.find(".btncomentar").show();

            nueva.removeAttr('id');

            $.each(comprado.productos, function(i,val){
                nueva.find(".productos").append("<tr><td>" + val.nombre+ "</td><td>" +val.cantidad+ "</td><td>$" +val.precioUnidad+ "</td></tr>");
            });
            nueva.find()
            nueva.show();

            return nueva;
        }

        $(document).on("click", ".borrar", function(e){
            $(e.currentTarget).closest('.row').find('button').button('loading')

            var id = $(".borrar").closest('.card').data("idcompra");
            $.post("/Compras/CancelarPedido", {idCompra: id}, function(data){
                cargarDatos(data.Compras);
            });

        });

        var boton = null;
        $(document).on("click", ".comentar", function(e){
            boton = $(e.currentTarget);
            boton.closest('.row').find('button').button('loading')
            $("#comentarmodal").modal('toggle');
        });

        $("#comentarmodal").on('hidden.bs.modal', function () {
            boton.closest('.row').find('button').button('reset')
        });

        $("#comentarmodal").on('show.bs.modal', function () {
            $("#rating").rating({'size':'sm'});
            console.log($("#tComentarios"));
            $("#tComentarios").val("");
        });

        $("#tComentarios").keyup(function(){
            var total = parseInt($(this).attr("maxlength"));
            var actuales = $(this).val().length;
            $("#totalcaracteres").text("Caracteres restantes: " + (total - actuales));
        });


    </script>
}
